<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>my simpel slides</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <style>
       * {
           margin: 0;
           padding: 0;
       }
       ol {
           list-style: none;
       }
    </style>
</head>

<body>
    <div class="slides">
        <ol>
            <li><img src="https://i.loli.net/2018/10/10/5bbdaaad971e1.png" alt=""></li>
            <li><img src="https://i.loli.net/2018/10/10/5bbdaaadc815e.png" alt=""></li>
            <li><img src="https://i.loli.net/2018/10/10/5bbdaaae1872b.png" alt=""></li>
            <li><img src="https://i.loli.net/2018/10/10/5bbdaaae92a7c.png" alt=""></li>
            <li><img src="https://i.loli.net/2018/10/10/5bbdaaaeaad93.png" alt=""></li>
        </ol>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
       
    </script>
</body>s

</html>