<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .a {
            background-color: red;
        }
        .b {
            background-color: blue;
        }
    </style>
    <script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app"></div>
    <script>
        /*
            v-for
                if array  (item, index) in students :class="index%2==0?'red':'green'"
                if object (value, key. index)
            :class
        */
        new Vue({
            el: document.getElementById('app'),
            template: `
                <div>
                    <ul>
                        <li v-for="item in students" :class="item.myclass">{{ item.name }}</li>
                    </ul>
                    <br />
                    <ul>
                        <li v-for="(value,key,index) in students2">{{ value}}-{{key}}-{{index}}</li>
                    </ul>
                </div>
            `,
            data: function() {
                return {
                    students: [{name:'张三',myclass:'a'},{name:'李四',myclass:'b'},{name:'王五',myclass:'c'}],
                    students2: {'A':'张三', 'B':'李四','C':'王五'}
                }
            }
        });
    </script>
</body>
</html>