<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    </style>
    <script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript">
        /*
            钩子函数
            beforeCreate
            created   //send Ajax
            beforeMount   //<div id="app"></div>
            mounted    //vue替换过后的dom
            beforeUpdate
            updated
            activated
            deactivated
            beforeDestroy   //释放资源
            destroyed       //释放资源
        */
        var Test = {
            data: function() {
                return {
                    text: 'hello jack'
                }
            },
            template: `
                <div>
                    {{ text }}
                    <button @click="text=text+1">click</button>
                </div>
            `,
            methods: {
                show: function(text) {
                    console.log(text);
                }
            },
            beforeCreate() {
                console.log(this.text);
            },
            created() {
                console.log(this.text);
            },
            beforeMount() {
                console.log(document.body.innerHTML);
            },
            mounted() {
                console.log(document.body.innerHTML);
            },
            beforeUpdate() {
                console.log(document.body.innerHTML);
            },
            updated() {
                console.log(document.body.innerHTML);
            },
            beforeDestroy() {
                console.log('beforeDestroy');
            },
            destroyed() {
                console.log('destroyed');
            },
            activated() {
                console.log('activated');
            },
            deactivated() {
                console.log('deactivated');
            }
        }
        var App = {
            data: function() {
                return {
                    isShow: false
                }
                
            },
            components: {
                test: Test
            },
            template: `
                <div>
                    <keep-alive>
                        <test v-if="isShow"></test>
                    </keep-alive>
                    <!-- <test v-if="isShow"></test> -->
                    <button @click="isShow=!isShow">toggle</button>
                </div>
            `
        }
        new Vue({
            el: document.getElementById('app'),
            template: '<app/>',
            components: {
                app: App
            }
        });
    </script>
</body>

</html>